:root {
    --dj-primary: #00a0df;
    --dj-secondary: #ff5113;
    --dj-background: #808285;
    --dj-black: #000000;
    --dj-white: #ffffff;
}

[data-md-color-scheme="datajoint"] {
    /* ribbon */
    /* ribbon + markdown heading expansion */
    --md-primary-fg-color: var(--dj-black);
    --md-primary-fg-color--dark: var(--dj-black);
    /* ribbon text */
    --md-primary-bg-color: var(--dj-white);

    /* navigation */
    /* navigation header + links */
    --md-typeset-a-color: var(--dj-primary);
    /* navigation on hover + diagram outline */
    --md-accent-fg-color: var(--dj-secondary);

    /* main */
    /* main header + already viewed*/
    --md-default-fg-color--light: var(--dj-background);
    /* primary text */
    --md-typeset-color: var(--dj-black);
    /* code comments + diagram text */
    --md-code-fg-color: var(--dj-primary);

    /* footer */
    /* previous/next text */
    --md-footer-fg-color: var(--dj-primary);
}

[data-md-color-scheme="slate"] {
    /* ribbon */
    /* ribbon + markdown heading expansion */
    --md-primary-fg-color: var(--dj-primary);
    --md-primary-fg-color--dark: var(--dj-primary);
    /* ribbon text */
    --md-primary-bg-color: var(--dj-white);

    /* navigation */
    /* navigation header + links */
    --md-typeset-a-color: var(--dj-primary);
    /* navigation on hover + diagram outline */
    --md-accent-fg-color: var(--dj-secondary);

    /* main */
    /* main header + already viewed*/
    /* --md-default-fg-color--light: var(--dj-background); */
    /* primary text */
    --md-typeset-color: var(--dj-white);
    /* code comments + diagram text */
    --md-code-fg-color: var(--dj-primary);

    /* footer */
    /* previous/next text */
    --md-footer-fg-color: var(--dj-white);
}

.md-typeset figure img {
    display: inline;
}

/* https://www.w3schools.com/howto/howto_css_responsive_header.asp */
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
    /* position: sticky;
    top: 5px;
    position: float;  */
  }
  
  /* Style the header links */
  .header a {
    float: left;
    font-family: 'Roboto Slab';
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }